.mixin-pill-default {
	display: inline-block;
	
	padding: 0.25em 1em;
	
	background-color: var(--pill-bg-color, #d3e9f0);
	border-radius: 3px;
	color: var(--pill-text-color, #286578);
	
	cursor: pointer;
	
}

.mixin-pill-selected {
	--pill-bg-color: #e4bc4c;
	--pill-text-color: #1e1705;
}