.colour-scales-section {
	display: flex;
	flex-direction: column;
}

.colour-scale {
	display: flex;
	width: 100%;
}

.colour-scale__swatch {
	flex: 1 1 auto;
	min-width: 0; // to prevent overflow
		
	&.-main {
		flex-grow: 1.25;
	}
}

.colour-scale__remove {
	align-self: center;
	
	margin: 1em;
	padding: 0.5em 0.8125em;

	cursor: pointer;
	
	border-radius: 50%;
	border: 1px solid #fff;
	background-color: #fff;
	
	&:hover {
		background-color: #a83e3c;
		color: #fff;
	}
}



.colour-scales-options {
	display: none;
		
	&.-pre {
		order: -10;
	}
	
	.colour-scales:not(:empty) ~ & {
		display: block;
	}
}