.colour-cards__box {
	display: flex;
	flex-wrap: wrap;
}

.colour-cards__item {
	flex: 1 0 0;
	
	padding: 1em;
	margin: 1px;
	
	min-width: 9em;
	
	&.-optional {
		display: none;
		
		.colour-cards__switch:checked ~ .colour-cards__box & {
			display: block;
		}
	}
}