.switchable-info__input {
	position: absolute;
	top: -100vh; left: -100vw;
}

.switchable-info__item {
	display: none;
	
	.switchable-info__input:checked[id="colour-info-switch__hex"] ~ .switchable-info__input-sibling &.-hex,
	
	.switchable-info__input:checked[id="colour-info-switch__hsl"] ~ .switchable-info__input-sibling &.-hsl,
	
	.switchable-info__input:checked[id="colour-info-switch__hsv"] ~ .switchable-info__input-sibling &.-hsv,

	.switchable-info__input:checked[id="colour-info-switch__rgb"] ~ .switchable-info__input-sibling &.-rgb {
		display: block;
	}
}


.switchable-info__label {
	display: inline-block;
	
	padding: 0.25em 1em;
	
	background-color: #d3e9f0;
	border-radius: 3px;
	color: #286578;
	
	cursor: pointer;
	
	.switchable-info__input:checked[id="colour-info-switch__hex"] ~ .switchable-info__input-sibling &[for="colour-info-switch__hex"],
	
	.switchable-info__input:checked[id="colour-info-switch__hsl"] ~ .switchable-info__input-sibling &[for="colour-info-switch__hsl"],
	
	.switchable-info__input:checked[id="colour-info-switch__hsv"] ~ .switchable-info__input-sibling &[for="colour-info-switch__hsv"],

	.switchable-info__input:checked[id="colour-info-switch__rgb"] ~ .switchable-info__input-sibling &[for="colour-info-switch__rgb"] {
		
		background-color: #e4bc4c;
		color: #1e1705;
	}
}