/* -------------------------------------- */
/* ==utility classes                      */
/* -------------------------------------- */

/* the only place where the use of !important may be tolerated */

/* Lists */
.u-unstyled-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}



/* Display */
.u-inbl {
	display: inline-block;
}