<div class="drawers">
	<div class="drawer colour-cards-drawer" id="cards-drawer">
		<div class="drawer__frame">			
			<div class="drawer__content colour-cards">
				<input type="checkbox" id="colour-cards__show-all-trigger" class="colour-cards__toggle-input"><!-- needs to stay on top level -->
				
				<header class="colour-cards__options padded-section">
					<a href="#cards-drawer" class="btn drawer__close js-toggle-drawer">close</a>
					<div class="colour-cards__switch colour-cards__colour-switch"></div>
					<div class="colour-cards__switch colour-cards__bg-switch u-mb-medium"></div>
					
					<div>
						<label for="colour-cards__show-all-trigger"><span class="colour-cards__toggle-label">Include failed ratio combinations</span></label>
					</div>
				</header>
				
				<div class="colour-cards__wrapper">
					<section class="colour-cards__box padded-section">Cards here</section>
				</div>
				
			</div>
		</div>
	</div>
	
	<!-- Needs to stay at the same level as .drawers -->
	<div class="drawer-overlay"></div>
</div>