<div class="drawers">
	<div class="drawer" id="cards-drawer">
		<div class="drawer__frame">
			<a href="#cards-drawer" class="drawer__close js-toggle-drawer">x</a>
			<div class="drawer__content colour-cards">
				
				<section class="colour-cards__options">
					<div class="colour-cards__bg-switch"></div>
					<div class="colour-cards__colour-switch"></div>
				</section>

				<section class="colour-cards__box">Cards here</section>
				
			</div>
		</div>
	</div>
	
	<!-- Needs to stay at the same level as .drawers -->
	<div class="drawer-overlay"></div>
</div>