{% extends "colour-contrast-explorer.html" %}

{% block title %}Colour Contrast Explorer{% endblock %}

{% block content %}
<main class="main-content">
	<!-- Inputs must stay at the top level -->
	<input type="radio" name="colour-info-switch" id="colour-info-switch__hex" class="switchable-info__input" checked="checked">

	<input type="radio" name="colour-info-switch" id="colour-info-switch__hsl" class="switchable-info__input">

	<input type="radio" name="colour-info-switch" id="colour-info-switch__rgb" class="switchable-info__input">

	<input type="radio" name="colour-info-switch" id="colour-info-switch__hsv" class="switchable-info__input">

	<section class="padded-section switchable-info__input-sibling">
		<ul class="u-unstyled-list">
			<li class="u-inbl"><label for="colour-info-switch__hex" class="switchable-info__label">Hex</label></li>
			<li class="u-inbl"><label for="colour-info-switch__rgb" class="switchable-info__label">RGB</label></li>
			<li class="u-inbl"><label for="colour-info-switch__hsl" class="switchable-info__label">HSL</label></li>
			<li class="u-inbl"><label for="colour-info-switch__hsv" class="switchable-info__label">HSV</label></li>
		</ul>

	</section>
	
	
	<div class="padded-section colour-study switchable-info__input-sibling">
		<div>
			<input type="text" class="jscolor color-input u-mb-medium" value="#e4bc4c">
			<input type="text" class="color-input u-mb-medium" value="#ffffff" disabled="disabled">
			<span class="inputs-contrast-score">Contrast Score</span>
			
			<div class="u-mb-medium">
				<label>
					<input type="radio" name="hue-matrix-type" value="neutral" checked="checked">
					<span>Neutral</span>
				</label>

				<label>
					<input type="radio" name="hue-matrix-type" value="similar">
					<span>Similar</span>
				</label>
			</div>

		</div>
		<section class="hue-matrix"></section>
	</div>
	
	<div class="switchable-info__input-sibling colour-scales-section">
		<section class="colour-scales switchable-info__input-sibling"></section>

		<div class="padded-section colour-scales-options -pre">
			<input type="number" class="colour-scale-steps-input" value="9">
			
		</div>
		
		<div class="padded-section colour-scales-options">
			<a href="#cards-drawer" class="btn js-toggle-drawer js-set-cards">View cards</a>
		</div>
	</div>
	


	<!-- <div class="reference switchable-info__input-sibling"></div> -->

	<!-- <div class="hue-matrix switchable-info__input-sibling"></div> -->

</main>

{% endblock %}