{% extends "colour-contrast-explorer.html" %}

{% block title %}Colour Contrast Explorer{% endblock %}

{% block content %}
<main class="main-content">
	<!-- Inputs must stay at the top level -->
	<input type="radio" name="colour-info-switch" id="colour-info-switch__hex" class="switchable-info__input" checked="checked">

	<input type="radio" name="colour-info-switch" id="colour-info-switch__hsl" class="switchable-info__input">

	<input type="radio" name="colour-info-switch" id="colour-info-switch__hsv" class="switchable-info__input">

	<section class="main-section switchable-info__input-sibling">
		<ul class="u-unstyled-list">
			<li class="u-inbl"><label for="colour-info-switch__hex" class="switchable-info__label">Hex</label></li>
			<li class="u-inbl"><label for="colour-info-switch__hsl" class="switchable-info__label">HSL</label></li>
			<li class="u-inbl"><label for="colour-info-switch__hsv" class="switchable-info__label">HSV</label></li>
		</ul>

	</section>
	
	
	<div class="main-section colour-study switchable-info__input-sibling">
		<input type="color" class="color-input u-mb-medium" value="#e4bc4c">
		<section class="hue-matrix"></section>
		<section class="comparison-box"></section>
	</div>



	<!-- <div class="reference switchable-info__input-sibling"></div> -->

	<!-- <div class="hue-matrix switchable-info__input-sibling"></div> -->

</main>

{% endblock %}