<div class="colour-cards__item {{colourCard.additionalClasses}}" style="background-color: {{colourCard.bgColour}}; color: {{colourCard.textColour}}">
	<p class="colour-cards__info-label">Text</p>
	<p class="colour-cards__heading">{{colourCard.textColour}}</p>
	
	<p class="colour-cards__info-label">Background</p>
	<p class="colour-cards__subheading">{{colourCard.bgColour}}</p>
	
	<p class="colour-cards__sample">The quick brown fox jumps over the lazy dog</p>

	<p class="u-mb-none">{{colourCard.contrastRating}}</p>
	<small>{{colourCard.contrastRatio}}</small>
</div>