<div class="swatch__info">
	<p class="switchable-info__item -hex">{{swatch.display.hex}}</p>
	<p class="switchable-info__item -hsl">{{swatch.display.hsl}}</p>
	<p class="switchable-info__item -rgb">{{swatch.display.rgb}}</p>
	<p class="switchable-info__item -hsv">{{swatch.display.hsv}}</p>
	<p class="swatch__contrast switchable-info__item -white">{{swatch.contrastToWhite}}</p>
	<p class="swatch__contrast switchable-info__item -black">{{swatch.contrastToBlack}}</p>
</div>

<div class="swatch__bg" style="background-color: {{swatch.display.hex}};">
</div>